@page
@model Proiect_WebApp.Pages.Schools.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School.Telefon)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="School.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
