@page
@model Proiect_WebApp.Pages.Teachers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Data_angajarii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Data_angajarii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Scoala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Scoala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.MaterieID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.MaterieID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Teacher.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
