@page
@model Proiect_WebApp.Pages.Grades.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Nota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.MaterieID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.MaterieID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.ElevID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.ElevID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grade.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
